@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Open+Sans&display=swap");

:root {
  --verdePrincipal: #2e8b57;
  --preto: #000300;
  --branco: #f0f7f0;
  --fonteMarca: "Bitter", serif;
  --fonteCorpo: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--branco);
  text-decoration: none;
}

body {
  background: var(--preto);
  color: var(--branco);
  font-family: var(--fonteCorpo);
}

.container {
  max-width: 62rem;
  width: 100%;

  margin: auto;
  padding: 0 1.5rem;
}

/* - - - - - - - - - - HEADER - - - - - - - - - - */

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
}

.header {
  padding: 1rem 0;
  border-bottom: 3px solid #1f1f1f;
  background: black;
  transition: 0.3s;

  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 3px;

  border-image-source: linear-gradient(
    90deg,
    #046000,
    #066b00,
    #087500,
    #0b8000,
    #0e8b00,
    #119700,
    #14a200
  );
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: var(--verdePrincipal);
  font-family: var(--fonteMarca);
  font-weight: normal;

  transition: 0.3s;
}

button[data-menuMobile] {
  width: 3rem;
  height: 3rem;

  background: var(--verdePrincipal);
  box-shadow: 0 0 0 3px black;
  border: none;
  border-radius: 0.2rem;
  display: none;
  position: relative;
  cursor: pointer;
}

button[data-menuMobile] span {
  display: block;
  width: 60%;
  height: 3px;
  margin: auto;

  border-radius: 5px;
  background: #000;

  transition: 0.3s;
}

button[data-menuMobile] span::before {
  content: "";
  display: block;
  height: 3px;
  background: #000;
  position: relative;
  top: -10px;
  border-radius: 3px;
  transition: 0.3s;
}

button[data-menuMobile] span::after {
  content: "";
  display: block;
  height: 3px;
  background: #000;
  position: relative;
  top: 8px;
  border-radius: 3px;
  transition: 0.3s;
}

button[data-menuMobile].ativo span {
  transform: rotate(45deg);
}

button[data-menuMobile].ativo span::before {
  transform: rotate(90deg) translate(10px, 0px);
}

button[data-menuMobile].ativo span::after {
  opacity: 0;
  transform: rotate(-90deg) translate(10px, 0px);
}

.header .container nav ul {
  display: flex;
  gap: 1rem;
}

.header .container nav a {
  border-bottom: 3px solid transparent;
  border-radius: 2px;

  transition: 0.4s;
}

.header .container nav a:hover {
  border-color: var(--verdePrincipal);
}

@media screen and (max-width: 600px) {
  button[data-menuMobile] {
    display: block;
  }

  .header .container nav ul {
    display: none;
  }

  .header .container nav button.ativo ~ ul {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
    text-align: right;
    z-index: 10;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.9);
    width: fit-content;
  }
}

/* - - - - - - - - - - Main container - - - - - - - - - - */

.mainBook {
  display: none;
  grid-template-columns: 1fr;
  overflow: hidden;
  max-height: 80vh;
  animation: animaLivro 0.3s forwards;

  position: relative;
}

.mainBook.ativo {
  display: grid;
}

@keyframes animaLivro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* gradiente filter */
.mainBook::before {
  content: "";
  display: block;
  grid-area: 1/1;
  background: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.9) 70%,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0.4) 90%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.mainBook img {
  grid-area: 1/1;
  z-index: -1;
  filter: grayscale(100%);
}

.mainBook .container {
  grid-area: 1/1;
  margin: auto;
  position: absolute;
}

.desc-conto {
  width: 70%;
}

.mainBook .container h2 {
  font-size: 2rem;
  color: currentColor;
}

.mainBook .container sub {
  display: block;
  margin-bottom: 1rem;
  color: currentColor;
  filter: brightness(70%);
}

.mainBook .container p {
  margin-bottom: 2.5rem;
  color: white;
}

.mainBook .botoes button {
  position: relative;
  color: currentColor;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);

  cursor: pointer;
  font-family: var(--fonteCorpo);
  margin-right: 1rem;

  transition: 0.3s;
}

.mainBook .botoes button:hover {
  border: 1px solid currentColor;
}

.mainBook .botoes button span {
  color: currentColor;
}

@media screen and (max-width: 600px) {
  .desc-conto {
    width: 100%;
  }

  .mainBook .container h2 {
    font-size: 1rem;
  }

  .mainBook .container p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .mainBook .botoes button {
    margin-right: 0;
  }
}

.box-livro {
  display: block;
  cursor: pointer;
  max-width: 300px;
  aspect-ratio: 1/1;
}

.box-livro {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

.carrosel-livro {
  margin-top: 2rem;
}
